.content {}

.sidebar {
    position: absolute;
    width: 440px;
    height: 963px;
    left: 1434px;
    top: 85px;
    background: #FFFFFF;
    border-radius: 24px;
}

.text--header {
    position: absolute;
    width: 61px;
    height: 22px;
    left: 24px;
    top: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #1E0D03;
}

.notice {
    position: absolute;
    width: 360px;
    height: 40px;
    left: 24px;
    top: 70px;
    background: #F1F4F8;
    border-radius: 8px;
}

.text-notice {
    position: absolute;
    width: 271px;
    height: 20px;
    left: 16px;
    top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #7C7D95;
}

.icon {
    position: absolute;
    left: 116%;
    right: 0%;
    top: 21.5%;
    bottom: 21.5%;
}

.status {
    position: absolute;
    width: 159px;
    height: 26px;
    left: 24px;
    top: 134px;
    /* 16 semibold */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    display: flex;
    align-items: center;
    /* Text */
    color: #1E0D03;
    opacity: 0.8;
}

.status-check {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    position: absolute;
    width: 144px;
    height: 96px;
    left: 206px;
    top: 135px;
}

.check-text {
    width: 51px;
    height: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1E0D03;
    opacity: 0.7;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    top: 2%;
    left: 16%;
    right: 10%;
}

.check {
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    left: -5%;
    border: 1px solid #27AEF9;
}

.check-2 {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    top: 31%;
    left: -3%;
}

.check-text-2 {
    width: 95px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Text */
    color: #1E0D03;
    opacity: 0.7;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    top: 34%;
    left: 17%;
    
}
.check-3 {
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    left: -2%;
    top: 62%;
}
.check-text-3 {
    width: 126px;
    height: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1E0D03;
    opacity: 0.7;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    top: 64%;
    left: 18%;
}
.type {
    position: absolute;
    width: 60px;
    height: 26px;
    left: 28px;
    top: 263px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #1E0D03;
    opacity: 0.8;
}
.type-text {
    width: 66px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

/* Text */

color: #1E0D03;

opacity: 0.7;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
position: absolute;
width: 68px;
    height: 20px;
    left: 206px;
    top: 263px;
}
.date {
    position: absolute;
    width: 68px;
    height: 26px;
    left: 31px;
    top: 320px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #1E0D03;
    opacity: 0.8;
}
.text {
    background: #F7F8FB;
    border: none;
    outline: none;
    width: 150px;
    height: 28px;
    position: absolute;
    left: 9%;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

/* Grey/4 */

color: #A5A8B1;

}
.date-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    gap: 28px;
    position: absolute;
    width: 192px;
    height: 40px;
    left: 206px;
    top: 313px;
    background: #F7F8FB;
    border-radius: 8px;
}
.icon-date {
    position: absolute;
    left: 77.33%;
    right: 8.33%;
    top: 18.17%;
    bottom: 4.17%;

}
.date-1 {
    position: absolute;
    width: 81px;
    height: 26px;
    left: 35px;
    top: 399px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #1E0D03;
    opacity: 0.8;
}
.date-block-1 {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 16px;
gap: 27px;

position: absolute;
width: 191px;
height: 40px;
left: 206px;
top: 392px;

/* Grey / 1 */

background: #F7F8FB;
border-radius: 8px;
}
.text-1 {
    background: #F7F8FB;
    border:none;
    outline:none;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
width:50%;
display: flex;
align-items: center;

/* Grey/4 */

color: #A5A8B1;
}
.button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 24px;
    gap: 10px;
    position: absolute;
    width: 160px;
    height: 48px;
    left: 136px;
    top: 479px;
    border: 1px solid #FF993C;
    border-radius: 8px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
/* identical to box height, or 144% */

display: flex;
align-items: center;

/* Yellow/1 */

color: #FF993C;
background: #FFFFFF;

}