.wrapper {
  background: #E5E5E5;
  height: 1080px;
  border-radius: 24px;
  position: relative;
  width: 1920px;
}

.grow-text__1 {
  position: absolute;
  width: 8px;
  height: 16px;
  left: 53px;
  top: 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
